# Server Configuration
PORT=8000
NODE_ENV=production

# Cache Configuration
CACHE_DURATION=21600000  # 6 hours in milliseconds

# Scraping Configuration
SCRAPE_WAIT_TIME=3000    # Default wait time in milliseconds
SCRAPE_TIMEOUT=30000     # Default timeout in milliseconds

FRONTEND_URL=https://youngeverest.vercel.app